<!DOCTYPE html>
<html>
<head>
	<title>Dev Testing</title>

	<!-- Plotly.js Library -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<link rel="stylesheet" type="text/css" href="static/CSS/dev.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class="row">
			<h1>Javascript Testing</h1>
		</div>
	</div>

	<div class="container" id="box">
		<div>
			<h2>This is a container containing:</h2>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn bg-danger" id="btn" onclick="saveTimes()"><strong>Save Times</strong></button>	
			</div>

			<div class="col">
				<button class="btn bg-danger" id="btn" onclick="loadTimes()"><strong>Load Times</strong></button>
			</div>

			<div class="col">
				<button class="btn bg-danger" id="btn" onclick="test()"><strong>Test</strong></button>
			</div>
			
		</div>

		<div class="row">
			<div id="padder"></div>
			<div id="box">
				<div id="plottingBox"></div>	
			</div>
		</div>

	</div>

	<script type="text/javascript" src="static/JS/storage.js"></script>
	<script type="text/javascript" src="static/JS/plotTimes.js"></script>


	<!-- ------------------------ Split ------------------------ -->
	<!-- Personal Javascript -->


	<!-- Bootstrap Javascript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>